<div class="container" >
    <div class="jumbotron jumbotron-fluid text-center">
      <h1 class="display-4">Welcome to {{title}}</h1>
      <p class="lead">Pen down your thoughts to share with this world</p>
      <hr class="my-4">
      <h3>Contributers to this project</h3>
      <br>
      <li>Jagruthi Vidya</li>
      <li>Rajani kanth</li>
      <li>Ajith</li>
      <li>Nirmal Jain</li>
      <li>Shah Hanan</li>
      <br>

      <p class="lead">
        <button type="button" class="btn btn-primary" [routerLink]="['/homePage']">Go to home page</button>
      </p>
    </div>
</div>
<router-outlet></router-outlet>