<app-header></app-header> 
<br>
    <form id="form">

      <input class="form-control mr-sm-2" style="width: 44rem;" type="search" id="query" name="q" placeholder="Search here for blog" [(ngModel)]="blog.blogName">
      <button  class="btn btn-outline-success my-2 my-sm-0" (click)="searchBlog()">Search Blog By Name</button>
      <br>
      <br>
      <input class="form-control mr-sm-2" style="width: 44rem;" type="search" id="query" name="q" placeholder="Search here for user" [(ngModel)]="user.displayName">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchUser()">Search User By Display Name</button>
    </form>
    <br>
    <br>
    <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-info" (click)="getAllBlogsMethod()">Get all Blogs</button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-info" (click)="getAllPostsByUserIdMethod()">Get My Posts</button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-info" (click)="getAllBlogsByUserIdMethod()">Get My Blogs</button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-info" (click)="getAllDraftsByUserIdMethod()">Get My Drafts</button>
      </div>  
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-info" routerLink="AddBlog">Create A New Post</button>
      </div>  
    </div>

    <br>
    <div *ngFor="let blog of blogList">
      <div class="card" style="width: 44rem;">
        <div class="card-body">
          <h5 class="card-title">{{blog.blogName}}</h5>
          <p class="card-text">{{blog.blogContent}}</p>
          <p class="card-text" >By: {{blog.user.displayName}}</p>
          <div *ngIf="blog.user.displayName === currentUser.displayName">
            <button class="btn btn-info" (click)="deleteBlogByBlogIdMethod(blog.blogId);">Delete This</button>
            <button class="btn btn-info" routerLink='ShowComments/{{blog.blogId}}'>Check Comments</button>
          </div>
          <div *ngIf="blog.user.displayName != currentUser.displayName">
            <button class="btn btn-info" routerLink='AddComment/{{blog.blogId}}'>Post Comment</button>
            <button class="btn btn-info" routerLink='ShowComments/{{blog.blogId}}'>Get Comments</button>

          </div>
        </div>
      </div>
      <br>
    </div>

    <div *ngIf="blog.blogId!=null">
      <div class="card" style="width: 44rem;">
        <div class="card-body">
          <h5 class="card-title">{{blog.blogName}}</h5>
          <p class="card-text">{{blog.blogContent}}</p>
          <p class="card-text" >By: {{blog.user.displayName}}</p>
        </div>
      </div>
      <br>
    </div>

    <div *ngIf="userResponseData!=null">
    <div class="card" style="width: 44rem;">
      <div class="card-body">
        <h5 class="card-title">Display Name: {{user.displayName}}</h5>
        <p class="card-text">User Name: {{user.userName}}</p>
        <p class="card-text" >Email Id: {{user.userEmailId}}</p>
      </div> 
    </div>
    </div>
    <!-- <div *ngIf="responseData==null">
      <p>Not Found</p> 
    </div>
-->
    <br>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
